<div class="mat-elevation-z2" style="width: 50%; margin-left: 35%; margin-top: 10%;">
     <div style="text-align: center;">
         <label><b>Login</b></label>
          <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 0px;">
           <div class="row" style="margin-left: 10%;">
            <div class="col-4">
                <label for="name" >User Name:</label>
            </div><div class="col-6">
                 <input matInput type="text" placeholder="Username"></div>&nbsp;
                 <br>
                 <br>
                 <div class="col-4">
                    <label for="name" >Password:</label></div>
                 <div class="col-6">
                 <input matInput type="password" placeholder="Password">
                </div>
                <div>
                 <br>
                 <button class="btn btn-primary btn-sm">Login</button>&nbsp;
                 <button class="btn btn-warning btn-sm" type="reset">Cancel</button>
                 <br>
                 <br>
        </div>
</div>
