<div>
 <mat-sidenav-container>
        <mat-sidenav mode="side" opened ="true" mode="side">
        <div class="content">
        <button mat-button class="menu-button" class="text-white" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
        </button>
        <button mat-button class="menu-button" class="text-white" routerLink="/newform">
        <mat-icon>create</mat-icon>
        <span>CreateAccount</span>
       </button>
       <button mat-button class="menu-button" class="text-white" routerLink="/tasklist">
        <mat-icon>list</mat-icon>
        <span>TaskList</span>
       </button>
    
        </div>
        </mat-sidenav> 
 </mat-sidenav-container>
</div>