<mat-tab-group>
    <mat-tab  label="Assinged" class="text-white">
<div class="mat-elevation-z8" style="margin-top: 15px;">
    <table mat-table [dataSource]="dataSource"> 
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let task" routerLink="/home/taskdetails/{{task.id}}"><u>{{task.id}}</u> 
          </td>
      </ng-container>
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Task Name </th>
          <td mat-cell *matCellDef="let task"> {{ task.name}} </td> 
      </ng-container>
      <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef> Created </th>
          <td mat-cell *matCellDef="let task"> {{ task.created | date:'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="assigned">
          <th mat-header-cell *matHeaderCellDef> Assigned </th>
          <td mat-cell *matCellDef="let task"> {{ task.assignee}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
    showFirstLastButtons
    aria-label="Select page of Assigned Tasks">
  </mat-paginator>  
</div>
</mat-tab>
</mat-tab-group>